.vscode/
.DS_Store

/* python related -------------------------------------------------------- */
__pycache__/
venv/
*.pyc
/* python related -------------------------------------------------------- */

/* data related ---------------------------------------------------------- */
data/
/* data related ---------------------------------------------------------- */